span{
	font-weight: bold;
	color: #62bb46;
}
	span ul li{
		list-style: none;
	}
.thumb-mineirao {
	float: left;
	margin: 0 20px 0 0;
}

.center-home a{
	color:#777;
}
	.center-home a:hover{
		color:#fd740e;
	}
.slider-home{
	background-image: url(../images/banner-mineirao2.jpg);
}
.slider-belo-horizonte{
	background-image: url(../images/banner-mineirao2.jpg);
}
.slider-ginastica{
	background-image: url(../images/ginastica.jpg);
}
.slider-volei{
	background-image: url(../images/voley22.jpg);
}
.slider-praia{
	background-image: url(../images/volei-praia.jpg);
}
.slider-futebol{
	background-image: url(../images/futebol.jpg);
}

.slider-eventos{
	background-image: url(../images/modalidades-banner.png);
	background-size: auto !important;
	background-repeat: repeat !important;
}

.container-interno{
	margin-top: 60px;
}
.calendario{
	margin-top: 30px;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}

.calendario th{
	line-height: 20px;
	padding-right: 10px;
}

/****Ajuda****/
.faq {
}

.wrap-accordion {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

  .wrap-accordion a {
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
    display: block;
    padding-left: 20px;
    color:#00AEE6;
  }
    
  .wrap-accordion p {
    text-align: justify;
  }

    .wrap-accordion a img {
      margin-right: 2px;
      -webkit-transition: transform 300ms ease;
      transition: transform 300ms ease;
      margin-bottom: -6px;
    }

      .wrap-accordion a.active img {
        transform: rotateZ(90deg);
      }

  .wrap-accordion article {
    display: none;
    padding: 10px 0;
  }

    .wrap-accordion article p {
      font-size: 14px;
    }


